@model CustomerManagement.Entities.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <h4>
        Customer | @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPurchasesAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPurchasesAmount)
        </dd>

    </dl>
    <hr />
    <h5>Addresses | @Html.ActionLink("Edit", "Index", "Address", new { customerId = Model.Id }, new { })</h5>
    @if (Model.Addresses.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].AddressLine)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].AddressLine2)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].AddressType)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].City)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].Country)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].PostalCode)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Addresses[0].State)
                </td>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Addresses.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].AddressLine)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].AddressLine2)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].AddressType)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].City)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].Country)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Addresses[i].State)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h6>Addresses list is empty.</h6>
    }
    <hr />
    <h5>Notes | @Html.ActionLink("Edit", "Index", "Note", new { customerId = Model.Id }, new { })</h5>
    @if (Model.Notes.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.Notes[0].Text)
                </td>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Notes.Count; i++)
                {
                    <tr>
                        <td>@(i+1)</td>
                        <td>
                            @Html.DisplayFor(model => model.Notes[i].Text)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h6>Notes list is empty.</h6>
    }
</div>
